
/*  Cameo Skin CSS ========================================= */
@font-face {font-family: "MyriadPro-Regular";
  src: url("../css/fonts/MyriadPro-Regular.otf") format("TTF"), /* chrome、firefox */
  url("../css/fonts/MyriadPro-Regular.otf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
.mis-stage {
  background-color: #fff;
}
    .mis-slider {
        /*  Slider element does not need to be a specific height
            Here we use it to create a stylish bar behind slides */
        margin-top: 138px;
        height: 80px;
        background-color: #fff;
    }
        .mis-slider li a {
            text-decoration: none;
            color: #666;
            display: block;
        }
        .mis-slider li figcaption {
            font-size: 20px;
            color: #444c5c;
            text-transform: uppercase;
             font-family: "MyriadPro-Regular";
        }
        .mis-slider li img {
            /*  Make max-width of image a little less than width of slide
                to avoid some browser shinking bugs */
            /*  for really small screens make width 100% */
            width: 100%;
            height:auto;
            /*  Make image round */
            border-radius: 50%;
            border: 10px solid #444c5c;
        }
        .mis-slide {
            /*  Set width in pixels to restrict width of slides
                for multi-item slider, default width is 100%
                for single-item slider. Use padding to add space
                between slides */
	        width: 250px;
            height: 350px;
	        padding: 40px 5px 40px 5px !important;
            /*  Undo the margin added by slider element */
            margin-top: -138px
        }
    .mis-nav-buttons a {
        color: #b11b2f;
    }
